export PROJECT=`git rev-parse --show-toplevel`
export GIT_USER=`git config user.name`
export EMACSD=~/.emacs.d
export GOPATH=~/go
export PY_VERSION=3.10.0
export PYENV_ROOT=~/.pyenv
export NPM_ROOT=~/.npm
export NVM_DIR=~/.nvm
export TMPD=~/tmp
export GOENV_ROOT=~/.goenv
export GO_VERSION=1.20.2
export PJTMP="${PROJECT}/tmp"
export RBENV_ROOT=~/.rbenv
export RB_VERSION=3.2.2
