export PROJECT=`git rev-parse --show-toplevel`
export GIT_USER=`git config user.name`
export EMACSD=~/.emacs.d
export GOPATH=~/go
export PY_VERSION=3.12.0
export PYENV_ROOT=~/.pyenv
export NPM_ROOT=~/.npm
export NVM_DIR=~/.nvm
export NODE_VERSION=v20.6.1
export TMPD=~/tmp
export GOENV_ROOT=~/.goenv
export GO_VERSION=1.21.4
export GOPROXY="https://proxy.golang.org,direct"
export GOSUMDB="sum.golang.org"
export PJTMP="${PROJECT}/tmp"
export RBENV_ROOT=~/.rbenv
export RB_VERSION=3.2.2

# ld: library not found for -lemutls_w
# libgccjit.so: error: error invoking gcc driver
export LIBRARY_PATH="${LIBRARY_PATH}:$(brew --prefix gcc)/lib/gcc/current:$(brew --prefix libgccjit)/lib/gcc/current:$(brew --prefix gcc)/lib/gcc/current/gcc/aarch64-apple-darwin23/13"
