export PROJECT=`git rev-parse --show-toplevel`

dotenv "${PROJECT}/.env"

EMACSD=$HOME/.emacs.d
CMACSD=$HOME/.cmacs.d
TMPD=$HOME/tmp
GOENV_ROOT=$HOME/.goenv
GOPATH=$HOME/go
PYENV_ROOT=$HOME/.pyenv
RBENV_ROOT=$HOME/.rbenv
NVM_DIR=$HOME/.nvm
NPM_ROOT=$HOME/.npm
CARGO_HOME=$HOME/.cargo

export PJTMP="${PROJECT}/tmp"
export GIT_USER=`git config user.name`
export GOPROXY="https://proxy.golang.org,direct"
export GOSUMDB="sum.golang.org"

export HOMEBREW_BUNDLE_FILE_GLOBAL="$HOME/.Brewfile"
export HOMEBREW_VERIFY_ATTESTATIONS=
