*.c diff=cpp
*.h diff=cpp
*.cpp diff=cpp
*.cs diff=csharp
*.hpp diff=cpp
*.m diff=objc
*.java diff=java
*.html diff=html
*.pl diff=perl
*.pm diff=perl
*.t diff=perl
*.php diff=php
*.py diff=python
*.rb diff=ruby
*.js diff=java
*.go diff=golang
*.rs diff=rust
Gemfile diff=ruby
Rakefile diff=ruby
rakefile diff=ruby
Vagrantfile diff=ruby
Dockerfile diff=ruby
*.ex diff=elixir
*.exs diff=elixir
