name: CI

permissions: {}

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

env:
  PJTMP: "tmp"

jobs:
  check:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: "false"
      - name: Set env
        run: |
          cat "./.env" >> "$GITHUB_ENV"
      - name: Lint
        run: .github/bin/lint.sh
      - name: Enable Shellcheck problem matcher
        run: echo "::add-matcher::.github/shellcheck-matcher.json"
      - name: Shellcheck
        run: |
          .github/bin/shellcheck.sh
          echo "::remove-matcher owner=shellcheck-matcher::"
